@{
    ViewData["Title"] = "首頁";
}

<div class="text-center mt-5">
    <h1 class="display-3 fw-bold text-white">🎉 歡迎光臨商品網站！</h1>
    <p class="lead text-light mt-3">探索我們為你精選的商品，立即開始逛逛吧！</p>
    <a class="btn btn-outline-light btn-lg mt-4" href="@Url.Action("ShopList", "Home")">前往商品頁面</a>
</div>
